.App {
  width: fit-content;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: white;
}

.field {
  margin-top: 20px;
}

.selector {
  min-width: 200;
}
